@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--catBase: #24273a;
		--catSurface: #363a4f;
		--catOverlay: #8087a2;
		--catText: #cad3f5;
		--catSubText: #b8c0e0;
		--catBlue: #8aadf4;
		--catSky: #91d7e3;
		--catGreen: #a6da95;
		--catYellow: #eed49f;
		--catRed: #ed8796;
		--catPink: #f5bde6;
		--catRose: #f4dbd6;

		--coolMain: #222222;
		--coolSurface: #1f2833;
		--coolSurface2: #c5c6c7;
		--coolBlue: #66FCF1;
		--coolBlue2: #45A29E;

		--warmMain: #EAE7DC;
		--warmSurface: #D8C3A5;
		--warmSurface2: #8E8D8A;
		--warmInactive: #E98074;
		--warmActive: #E85A4f;

	}
}

@layer utilities {
	.bg-theme{
		background-color: var(--main-color);
	}
	.text-theme{
		color: var(--text-color);
	}
	.border-theme{
		border-color: var(--border-color);
	}
	.surface-theme{
		background-color: var(--surface)
	}
	.content-theme{
		background-color: var(--content-active);
		color: var(--content-active);
	}
	.special-text-theme{
		color: var(--content-active);
	}
	.button-theme{
		background-color: var(--content-active);
		color: var(--button-text);
		/* border: 2px solid var(--button-border); */
		border: 2px solid var(--content-inactive);
	}
	.input-theme{
		background-color: var(--surface2);
		color: var(--button-text)
	}
	.switch-theme{
		background-color: var(--main-color);
		
	}
	.switch-background-theme{
		background-color: var(--content-active)
	}
	.switch-secondary{
		background-color: var(--content-inactive)
	}
		
	.spacing-small{
		margin: 0.5rem;
	}
	.spacing-medium{
		margin: 1rem;
	}
	.spacing-large{
		margin: 2rem;
	}
	.translate-x-switch{
		transform: translate(0.2rem, 0px);
	}
}

@layer base {
	* {
		/* @apply bg-theme; */
		@apply text-theme;
	 }
	 input {
		 @apply bg-gray-950 rounded;
	 }
	 button {
		 @apply border border-white px-2 py-1 hover:bg-gray-500
	 }
}
