:root {
  margin: 0px;
  padding: 0px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
	--main-color: #f2f2f2;
	--text-color: black;
	--border-color: #5651a7;
	--content-active: #4f81c0;
	--content-inactive: var(--catBlue);
	--button-text: white;
	--button-border: transparent;
}
.dark {
	
	--main-color: #242424;
	--text-color: #ffffff;
	--border-color: #ffffff;
	--content-active: #4f81c0;
	--content-inactive: #6e81c0;
	--button-text: white;
	--button-border: transparent;
}
.catpuccin {
	--main-color: var(--catBase);
	--text-color: var(--catText);
	--content-active: var(--catRed);
	--button-text: var(--catPink);
	--border-color: var(--catSurface);
	--button-bg: #4f81c0;
	--button-text: black;
	--button-border: transparent;
}
.pinky{
	--main-color: var(--catRose);
	--surface: var(--catSurface);
	--surface2: var(--catOverlay);
	--text-color: var(--catOverlay);
	--border-color: var(--catSubText);
	--content-active: var(--catBlue);
	--content-inactive: var(--coolSky);
	--button-bg: #4f81c0;
	--button-text: white;
	--button-border: transparent;
}
.cool{
	--main-color: var(--coolMain);
	--text-color: white;
	--button-text: black;
	--surface: var(--coolSurface);
	--surface2: var(--coolSurface2);
	--content-active: var(--coolBlue);
	--content-inactive: var(--coolBlue2);
}
.warm{
	--main-color: var(--warmMain);
	--text-color: black;
	--button-text: black;
	--surface: var(--warmSurface);
	--surface2: var(--warmSurface2);
	--content-active: var(--warmActive);
	--content-inactive: var(--warmInactive);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  width: 99vw;
  height: 99vh;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */
